/**
 * 基本設定
 */
body {
  font: 14px 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
  color: #666;
  background-color: #fff;
}

h1 {
  font-size: 2em;
  padding: 0.3em;
  border-color: #7777fd;
  border-width: 1px 0;
  border-style: solid;
  width: 400px;
}

h2 {
  font-size: 1.4em;
  margin: 0 0 0.5em;
  padding: 0.3em;
  border-color: #9f9fff;
  border-width: 0 0 0 6px;
  border-style: solid;
}

input,
textarea {
  border: 1px solid #9f9fff;
  border-radius: 3px;
  padding: 2px 5px;
}

select {
  border: 1px solid #9f9fff;
  border-radius: 3px;
  padding: 1px 3px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #7777fd;
}

textarea {
  vertical-align: top;
}

button {
  color: #fff;
  background-color: #7777fd;
  border: 1px solid #7777fd;
  border-radius: 3px;
  margin-left: .5em;
  padding: .2em .5em;
}

button:hover {
  opacity: 0.5;
}

button:disabled {
  color: #ccf;
  background-color: #fff;
  border: 1px solid #ccf;
}

button[disabled]:hover {
  opacity: 1;
}

.app-input-label,
.app-text-label {
  display: inline-block;
  margin-right: .5em;
  text-align: right;
  vertical-align: top;
}

.app-input-contents,
.app-text-contents {
  display: inline-block;
}

.app-input-item {
  display: inline-block;
  margin-right: .5em;
}

.app-radio-label,
.app-checkbox-label {
  margin: 0 .5em 0 .2em;
  display: inline-block;
}

/**
 * グリッド
 */
.app-grid {
  border-top: 1px solid #9f9fff;
  border-left: 1px solid #9f9fff;
  border-radius: 6px;
  border-collapse: separate;
  border-spacing: 0;
}

.app-grid th,
.app-grid td {
  border-right: 1px solid #9f9fff;
  border-bottom: 1px solid #9f9fff;
}

.app-grid tr:first-child th:first-child {
  border-radius: 6px 0 0 0;
}

.app-grid tr:first-child th:last-child {
  border-radius: 0 6px 0 0;
}

.app-grid tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}

.app-grid tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}

.app-grid th,
.app-grid td {
  padding: .2em .5em;
}

.app-grid th {
  background: #ccf;
  font-weight: bold;
}

.app-grid-is-hover {
  background: #fffac3;
  opacity: 0.5;
}

.app-grid-is-selected {
  background: #fffac3;
}

/**
 * ユーティリティ
 */
.app-visibility-hidden {
  visibility: hidden;
}

.app-display-none {
  display: none;
}
