/**
 * ページの枠組み
 */
#page {
 margin: 0 auto;
 width: 900px;
}

/**
 * 編集画面
 */
#form-area {
 margin: 0 auto;
 padding: 1em;
 width: 850px;
 border: 1px solid #ccf;
 border-radius: 1em;
}

#form div + div {
 margin-top: 1em;
}

#form .app-input-label {
 width: 100px;
}

#form-lastName .app-input-label {
 width: 50px;
}

#form-firstName,
#form-lastName {
  display: inline-block;
}

#form-button-area {
 padding-left: 100px;
}

/**
 * 参照画面
 */
#ref-area {
 margin: 0 auto;
 padding: 1em;
 width: 850px;
 border: 1px solid #ccf;
 border-radius: 1em;
}

#ref div + div {
 margin-top: 1em;
}

#ref .app-text-label {
 width: 100px;
}

#ref-button-area {
 padding-left: 100px;
}

/**
 * 一覧画面
 */
#list div + div {
 margin-top: 1em;
}

/**
 * エラー画面
 */
#error-area {
 margin: 0 auto;
 padding: 1em;
 width: 850px;
 border: 1px solid #ccf;
 border-radius: 1em;
}

#error div + div {
 margin-top: 1em;
}

#error-button-area {
 padding-left: 100px;
}
